body
    background-color rgb(59,57,57)
        
picture
    margin-left 150px

h1
    background-color white
    width 200px
    text-align center
    border-radius 10px
    display inline-block 
        
h2
    font normal 15pt times
    border-radius 5px 
    margin-left 10px
    margin-right 10px
        
#img
    background-color rgb(214, 214, 214)
    height 250px
    width 250px   
    border-radius 10px  

.valor
    height 320px
    width 250px  
    background-color white
    display inline-block
    border-radius 10px 
    border 5px solid black 
    margin-left 10px
    margin-right 10px
    margin-top 30px 
    margin-bottom 10px

p
    font-size 20px
    text-align center
    background-color rgb(148, 255, 148)
    width 230px
    height 25px 
    margin-left 10px

#explicação
    height 250px
    width 300px 
    background-color white
    border-radius 5px
    display inline-block

mark
    background-color rgb(185, 185, 185)

#pessoa1
        border-radius 10px
        width 100px
        background-color rgb(221, 221, 127)
        margin-left 15px
        height 25px
        margin-top 0px 
    
#espaço1
        height 10px
        width 770px
        background-color none
        display inline-block

#espaço2
        height 10px
        width 700px
        background-color none
        display inline-block
    
#pessoa2
        border-radius 10px
        width 100px
        background-color rgb(221, 127, 127)
        margin-left 15px

#resposta
        border-radius 5px
        width 300px
        background-color rgb(244, 255, 225)
        border 2px solid black
        margin-left 15px
        height 40px
       

#conversa
        background-color white
        height 200px
        width 400px
        border-radius 10px
    
#imgchat
        height 100px
        width 100px
        background-color rgb(112, 158, 112) 
        border 2px solid black
        border-radius 10px
        margin-left 15px

.telefone
        border-radius 20px
        border 5px solid black 
        background-image:url("./Emojiart/Imagens/Emoji/Emojiart_imagens/celular.png");
        height 500px
        width 330px
        display inline-block

.fundo
    height 450px
    width 330px
    background-color rgb(53, 75, 78)
    border-radius 0px 0px 10px 10px
    margin-top 40px

.conversadigital
    background-color white
    height 500px
    width 300px
